# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../learn\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\springCloud\learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
